
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Miniver&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0; margin: 0;
    box-sizing: border-box;

}
body{      font-family: "PT Serif", serif;

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color:#000;
}
.logo{
    padding-left: 30px;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.logo P span{
    color: #f08804;
    padding-right: 5px;
    animation: slideLeft 1.5s  ease-in forwards;
    opacity: 0;
}
.logo p{
    color: #fff;
    font-weight: 500;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}
.navbar a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
    font-size: 1rem;
    border-radius: 40px;
    margin-right: 25px;
    animation: slideTop 1s 1s ease forwards;
    opacity: 0;
    animation-delay: calc(.2s*var(--i));
}
#home-link{color: #fff; background-color: #f08804;}
#home-link:hover{color: #000; background-color: #fff; box-shadow: 0 0 15px #f08804;}
.navbar a:hover{ 
    color: #000; 
    background-color: #fff;
    box-shadow: 0 0 15px #f08804;
}
.btn{
    padding-right: 50px;
}
.btn a{
    display: inline;
    text-align: center;
    max-width: 200px;
    padding: 15px;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    background: transparent;
    box-shadow: 0 0 10px #f08804 , inset 0 0 10px #f08804;
}
.btn a:hover{
    cursor: pointer; 
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 15px #f08804;
}
.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    padding-right: 30px;
}
.container{
    background-color: #000;
    background: url(blackmetro.jpg);
    background-size: cover;
    object-fit: cover;
    display: flex;
    height: 90vh;
    padding-left: 70px;

}
.data{
    display:inline-block;
    justify-content: center;
    align-items: center;
}
.heading{
    margin-left: 10px;
    width: 500px;
    margin-top: 20px;
}
.heading h1{
    padding: 10px;
    font-size: 3.1rem;
    color: #fff;
    animation: slideLeft 1.5s  ease forwards;
    opacity: 0;
    text-shadow: 0 0 4px #f08804;
    margin-top: 50px;
}
.para{
    margin-left: 10px;
    width: 500px;
    margin-top: 20px; 
    display: flex; 
}
.para p{
    padding: 15px;
    width: 500px;
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 20px; 
}
.btn2{
    padding-left: 20px;
    width: 500px;
    margin-top: 30px; 
    display: flex;
    gap: 3rem; 
}
.btn2 button{
    color: #fff;
    padding: 12px;
    width: 160px;
    border: none;
    background: transparent;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    font-size: 1rem;
    text-decoration: underline;
    animation: slideBottom 1s 1s ease forwards;
    opacity: 0; 
}
.btn2 button:hover{
    background-color: #fff;
    color: #000;
    text-decoration: none;
    cursor: pointer; 
    box-shadow: 0px 0px 15px #f08804;
    border-radius: 40px;
    
}
#button1{
    background-color: #f08804;
    color: white;
    text-decoration: none;
    animation: slideLeft 1s 1s ease forwards;
    opacity: 0;
}
#button1:hover{
    background-color: #fff;
    color: #000;
    cursor: pointer; 
    box-shadow: 0px 0px 15px #f08804;
    border-radius: 40px;
}

   /* About section */

   .about{
    padding-top: 40px;
    /* background:linear-gradient(to top,#fff,#999); */
    margin-bottom: 30px;
    

   }
.container-about{ 
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    height: 600px;
}
.about h1{
    text-align: center;
    font-size: 3.5rem ;
    font-family: "miniver",sanssarif;
}
.about h1 span{
    color: #f08804;
}
.image-about img{
    height: 450px;
    width: 400px;
    border-radius: 10px;
    animation: slideLeft  2s ease forwards;
    opacity: 0;
    animation: moveAndFade 2.5s infinite;
}
@keyframes moveAndFade{
    0%{
        transform: translateX(0);
        opacity: 0;
    }
    50%{
        transform: translateX(100px);
        opacity: 1;
    }
    100%{
        transform: translateX(0);
        opacity: 0;
    }
}
.para-about h2{
    color: #f08804;
    text-shadow: 0 0 4px #fff;
}
.para-about{
    height: 450px;
    width: 400px;
    border-radius: 10px;
    padding: 10px;
    color: #000;
    padding-top: 0px;
}
.para-about h2{
    font-size: 2.2rem;
    margin-bottom: 20px;
}
.para-about p{
    margin-top: 5px;
    font-size: 1.5rem;
}
marquee{
    height: 100px;
    align-items: center;
    font-size: 3.5rem;
    background-color: #222;
    color: #fff;
}
   /* Service section */

#service-heading{
    text-align: center;
    font-size: 3.5rem;
    color: #f08804;
    padding-top: 10px;
    font-family: "miniver",sanssarif;
}
/* .service{
    background:linear-gradient(to top,rgb(253, 247, 247),rgb(255, 253, 251));
} */
.container1{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap ;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 40px;

}
.div1{
    text-align: center;
    display: inline-block;
    flex-wrap: wrap;
    width: 300px;
    padding: 20px;
    box-shadow: inset 0px 0px 5px #f08804;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding-bottom: 40px;
}

.div1 img{
    height: 200px;
    width: 270px;
    margin-bottom: 10px; 
    border-radius: 10px; 
    transition: transform 0.3s;
    filter: blur(2px);
}
.div1 img:hover{
    transform: scale(1.05);
    filter: none;
    cursor: pointer;
}
.div1 p{
    line-height: 20px;
    margin-bottom: 20px;
}
.div1 a{
    text-decoration: none;
    text-align: center;
    background-color: #222;
    color: #fff;
    border-radius: 40px;
    border: none;
    padding: 10px;
    margin-top: 10px;
}

/* Contact section */
.contact{margin-bottom: 40px;}
.container-contact{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contact h1{
    text-align: center;
    font-size: 2.5rem;
    margin-top: 30px;
    font-family: "miniver",sanssarif;
}
 h1 span{
    color: #f08804;
}
 .image{
    margin-top: 40px;
    object-fit: cover;
    background-size: cover;
    margin-right: 30px;
    
}
 .image img{
    height: 370px;
    width: 500px;
    background-size: cover;
    object-fit: cover;
    border-radius: 20px;
    transition: transform 0.5s;
}
.image img:hover{cursor: pointer; transform: scale(1.02);}
 .contact-box{
    display: inline-block;
    justify-content: center;
    align-items: center;
    height:400px ;
    width: 450px;
    margin-left: 40px;
    padding: 20px;
}
 .contact-box input{
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 400px;
    margin-top: 10px;
    margin-bottom: 5px;
    box-shadow: 0 0 10px #f08804;
}
 #num{
    margin-bottom: 20px;
}
 .contact-box textarea{
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 400px;
    height: 100px;
    margin-top: 10px;
    box-shadow: 0 0 10px #f08804;
}
 .button{
    padding: 10px;
    background-color: #f08804;
    color: #fff;
    border: none;
    border-radius: 10px;
    width: 400px;
    margin-top: 10px;
    text-align: center; 
}
 .button:hover{box-shadow: 0px 0px 20px #f08804;}

.discription{
    background:linear-gradient(to top,#f08804,#fff);
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding: 20px; 
    height: 500px;  
}
.div-icons{
    display: inline-block;
    height: 300px;
    width: 50px;
    font-size: 2rem;
    margin-left: 20px;
    padding-top: 10px;
}
.div-icons #icon{
    border-radius: 50%;
    color: #000;
    object-fit: cover;
}
.div-links{
    display: inline-block;
    align-items: center;
    height: 200px;
    width: 120px;
    margin-left: 10px;
    padding-left: 5px;
}
.div-links h1{
    padding-bottom: 20px;
}
.div-links a{
    text-decoration: none;
    color: #000;
    font-weight: bolder;
    padding: 5px;
}
.div-roods{
    width: 200px;
    font-weight: bolder;
}
.div-roods p{padding: 10px;}
.div-roods h1{
    padding-bottom:5px ;
    margin-top:0px ;
}
.div-contact{

    width: 350px;
    padding-left:10px;
    font-weight: bolder;
    padding: 15px;
}
.div-contact p{
    padding: 10px;
}
.div-contact h1{
    padding-bottom:20px ;
}
footer{
    text-align: center;
    color: #f08804;
    background-color: #000;
    padding: 20px;
    font-size: 1.5rem;
    font-family: "miniver",sans-serif;
}







@keyframes slideRight{
100%{
transform: translateY(0px);
opacity: 1;
}
0%{
transform: translateY(100px);
opacity: 0;
}
}

@keyframes slideTop{
100%{
transform: translateY(0px);
opacity: 1;
}
0%{
transform: translateY(-100px);
opacity: 0;
}
}
@keyframes slideBottom{
0%{
transform:translateY(100px);
opacity: 0;
}
100%{
transform: translateY(0px);
opacity: 1;
}
}
@keyframes slideLeft{
0%{
transform:translateX(-100px);
opacity: 0;
}
100%{
transform: translateX(0px);
opacity: 1;
}
}
